@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  font-weight: 300;
  overflow-x: hidden;
}

/* -----------------------
--------NAVBAR---------
----------------------- */

nav {
  width: 100%;
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
}

.menu {
  display: none;
}

.lists ul a {
  text-decoration: none;
  color: black;
  margin-right: 13px;
  font-size: 1.2rem;
}

.register-now-button {
  margin: 0 2rem;
  border: 1px solid blue;
  padding: 9px 13px;
  border-radius: 10px;
  color: blue !important;
}

.active {
  font-weight: 500;
}

.logo img {
  width: 150px;
}

/* -----------------------
--------HERO SECTION-------
----------------------- */

.hero-section {
  height: 80vh;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
  padding: 1rem 2rem;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero-section .left h1 {
  font-size: 3rem;
  padding-right: 250px;
}

.buttons {
  margin-top: 10px;
}

.buttons a {
  text-decoration: none;
  color: white;
  background-color: blue;
  padding: 13px 23px;
  border-radius: 10px;
}

/* -----------------------
--------SERVICE SECTION---------
----------------------- */

.service-section {
  height: 80vh;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
  padding: 1rem 2rem;
}

.service-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.service-section .service-left h1 {
  font-size: 3rem;
  padding-right: 250px;
}

/* -----------------------
------SUPPORT SECTION------
----------------------- */

.support-image {
  width: 500px;
}

.support-section {
  height: 80vh;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
  padding: 1rem 2rem;
}

.support-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.support-left h1 {
  font-size: 3rem;
  padding-right: 250px;
}

.support-left p {
  padding-right: 250px;
}

/* -----------------------
----- PROVIDED SERVICES -----
----------------------- */

.provided-services {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  padding: 1rem 2rem;
}

.provided-services .service-heading {
  width: 50%;
  padding-right: 300px;
  font-size: 1.4rem;
}

.provided-services .service-para {
  width: 50%;
}

/* -----------------------
-------- TEMPLATES ---------
----------------------- */

.templetes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 1rem;
  padding: 1rem 2rem;
  row-gap: 30px;
  column-gap: 20px;
}

/* -----------------------
-------- PRICING ---------
----------------------- */

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
  padding: 1rem 2rem;
  background-color: #0797f2;
  padding-top: 50px;
}

.cards {
  margin-top: 2rem;
  display: flex;
  gap: 5rem;
}

.card {
  background-color: white;
  border-radius: 7px;
  width: 300px;
  height: 550px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.card div p {
  font-size: 15px;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.price {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.price h1 {
  font-size: 30px;
}

.price a {
  border: 1px solid blue;
  border-radius: 5px;
  color: blue;
  text-decoration: none;
  padding: 7px 10px;
}

.title {
  height: 100px;
}

.active-card {
  padding: 0;
}

.active-card .features-list,
.active-card .price {
  padding: 1rem;
}

.active-card .title {
  color: white;
  padding: 0;
  margin: 0;
  background-color: black;
  width: 300px;
  height: 100px;
  padding: 20px;
  border-radius: 7px;
}

.active-card .price div a {
  background-color: blue;
  color: white;
}

.card .price div a {
  font-weight: 400;
}

.features-list {
  height: 200px;
}

/* -----------------------
-------- CUSTOMERS ---------
----------------------- */

.customer {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  padding: 1rem 2rem;
  align-items: center;
  gap: 2rem;
}

.customer-heading {
  text-align: center;
}

.customer-heading p {
  width: 800px;
}

.grid div {
  width: 500px;
  padding-top: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4rem;
}

.customer-profile {
  display: flex;
  padding: 10px;
}

.users p {
  padding-left: 20px;
}

.names {
  margin-left: -360px;
}

.users {
  background-color: #fff;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* -----------------------
-------- OCE SERVICE ---------
----------------------- */

.oce-hosting {
  background-color: red;
  height: 250px;
  display: flex;
  justify-content: space-around;
  padding: 1rem 2rem;
  align-items: center;
}

.oce-heading h1 {
  font-size: 2rem;
}

.oce-heading {
  width: 600px;
  color: white;
}

.oce-register a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 7px 15px;
  border-radius: 5px;
}

.oce-hosting {
  background-image: url(./images/footer-bg.svg);
  background-size: cover;
}

/* -----------------------
-------- FOOTER ---------
----------------------- */

footer {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  padding: 1rem 2rem;
  margin-top: 2rem;
}

.logo p {
  width: 200px;
}

/* -----------------------
--------MOBILE DEVICE---------
----------------------- */

@media screen and (max-width: 1020px) {
  .lists {
    display: none;
  }

  /* ----- hero section ---- */

  .hero-section {
    flex-direction: column;
    text-align: center;
    gap: 5rem;
    height: 100vh;
  }

  .hero-section .left h1 {
    font-size: 2rem;
    padding-right: 0;
  }

  /* ----- service section ---- */

  .service-section {
    flex-direction: column-reverse;
    text-align: center;
    gap: 5rem;
    height: 100vh;
    margin-top: 12rem;
  }

  .service-section .service-left h1 {
    font-size: 2rem;
    padding-right: 0;
  }

  /* ----- support section ---- */

  .support-section {
    flex-direction: column;
    text-align: center;
    gap: 5rem;
    height: 100vh;
  }

  .support-section .support-left h1 {
    font-size: 2rem;
    padding-right: 0;
  }

  .support-left p {
    padding-right: 0px;
  }

  .support-section .support-left h1 {
    padding-right: 0;
  }

  .menu {
    display: block;
    font-size: 2rem;
  }

  .service-image,
  .hero-image {
    width: 500px;
  }

/* -----------------------
--------PROVIDED SERVICES---------
----------------------- */

  .provided-services {
    margin-top: 20rem !important;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .provided-services .service-heading {
    width: 100%;
    padding-right: 0px;
    font-size: 1.4rem;
  }

  .provided-services .service-para {
    width: 100%;
  }

  /* -------templates------- */

  .templetes {
    grid-template-columns: 1fr;
    place-items: center;
    place-content: center;
    text-align: center;
  }

  .cards {
    display: flex;
    flex-direction: column;
  }

/* -----------------------
-------- CUSTOMERS ---------
----------------------- */

  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .grid div {
    width: 400px;
  }

  .names {
    margin-left: 0;
    justify-content: space-between;
  }

  .customer-heading p {
    padding: 0 10rem;
  }

 /* -----------------------
-------- OCE SERVICE ---------
----------------------- */

  .oce-hosting {
    flex-direction: column;
    gap: 2rem;
    background: none;
  }

  .oce-heading h1 {
    font-size: 2rem;
  }

  .oce-heading {
    width: 400px;
  }

  /* -----FOOOTER----- */

  footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
